body{background-color:#6ab8f7;}
h1{font-weight:bold;font-size:30;}
h2{font-size:20;}
h3{font-weight:bold;font-size:55;}
a:link{color:#b205f7;text-decoration:none;}
a:active{color:red;}
a:visited{color:#b205f7;}
a:hover{color:red;}
a{display:inline-block;width:100%;font-size:14;text-align:center;line-height:100px;}
.Active{background-color:#6ab8f7;color:white;}
.NActive{background-color:black;}
th{height:100px;vertical-align:middle;}
